.container {
  width: 90vw;
  max-width: 1300px;

  height: 90vh;

  padding: 2rem;
  box-sizing: border-box;

  background-color: var(--glass-bg-soft);

  border: 2px solid var(--border-color);
  border-radius: 20px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
