.chatPreview {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding-bottom: 0.5rem;
  cursor: pointer;

  &__details {
    border: none;
    outline: none;
    font: inherit;
    text-align: left;
    background-color: transparent;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      flex: 1;
      width: 100%;
      &-name {
        font-size: smaller;
        color: var(--text-primary);
      }

      &-message {
        font-size: small;
        color: var(--text-secondary);
      }
    }
  }
}
.highlight-name {
  font-weight: bold;
  color: var(--highlight);
}

.highlight-message {
  color: var(--highlight);
}

.loading {
  height: 9px;
  margin: 10px 0;

  background: linear-gradient(
    90deg,
    var(--active-bg) 0%,
    var(--accent-purple-soft) 50%,
    var(--hover-bg) 75%,
    var(--active-bg) 100%
  );

  background-size: 200% 100%;
  animation: shimmer 1.2s infinite linear;
}
@keyframes shimmer {
  from {
    background-position: 200% 0;
  }

  to {
    background-position: -200% 0;
  }
}

.clickable {
  cursor: pointer;
}
