.chatPreview {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding-bottom: 0.5rem;
  cursor: pointer;

  &__details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      &-name {
        font-size: smaller;
        color: var(--text-primary);
      }

      &-message {
        font-size: small;
        color: var(--text-secondary);
      }
    }
  }
}
.highlight-name {
  font-weight: bold;
  color: var(--highlight);
}

.highlight-message {
  color: var(--highlight);
}
