.chatPreview {
  display: flex;
  align-items: center;

  gap: 1rem;

  padding-bottom: 0.5rem;
  cursor: pointer;

  &__details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      &-name {
        font-size: smaller;
        color: var(--texst-primary);
      }

      &-message {
        font-size: small;
        color: var(--text-secondary);
      }
    }

    &__right {
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background-color: aqua;
    }
  }
}
