.search {
  padding: 0.6rem;
  background-color: var(--glass-bg);
  border-radius: 12px;
  border-color: 1px solid var(--border-color-light);

  display: flex;
  gap: 0.6rem;

  &-icon {
    color: var(--text-primary);
  }

  &-input {
    border: none;
    outline: none;
    width: 100%;
    background: transparent;

    font: inherit;
    font-size: small;
    color: var(--text-primary);
  }

  &-input::placeholder {
    color: var(--text-secondary);
  }
}
