.message {
  padding: 1rem;
  font-size: 0.9rem;
}

.left {
  align-self: start;
  background-color: var(--glass-bg);
  border-radius: 0 24px 24px 24px;
  border: 1px solid var(--border-color-medium);
}

.right {
  align-self: end;
  background-color: var(--active-bg);
  border-radius: 24px 0 24px 24px;
  border: 1px solid var(--accent-purple-soft);
}
