.messages {
  min-height: 0;
  overflow-y: auto;
  padding: 0.5rem 0;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;

  &-date {
    font-size: small;
    color: var(--text-secondary);
  }
}

.messages::-webkit-scrollbar {
  width: 0;
}

.messages::before {
  content: "";
  margin-top: auto;
}
